{%extends 'pages/base.html'%}
{%load static%}
{% block content%}
<main>
    
    <div class="center-main">
        <div class="border">
            <div class="head">
                <h1>Cancelar Cita</h1>
            </div>
            <div>
                <div>
                    <form method="POST" name="busqueda" class="form">
                        {% csrf_token %}
                        <div class="column margin-child-s center">
                            <label class="hora-info" for="rut">Rut del paciente</label>
                            <input type="text" name="rut">
                            
                        </div>
                        <div class="center">
                            <input type="submit" value="Buscar" class="btn-submit">
                        </div>
                        
                    </form>
                    
                    {% for cita in citas%}

                        <div class="border margin-l">
                            <h2 class="hora-title">Médico:</h2>
                                <p class="hora-info">{{cita.hora.medico.nombre}} {{cita.hora.medico.p_apellido}} {{cita.hora.medico.m_apellido}}</p>
                            <h2 class="hora-title">Especialidad:</h2>
                                <p class="hora-info">{{cita.hora.medico.get_especialidad_display}}</p>
                            <h2 class="hora-title">Fecha:</h2>
                                <p class="hora-info">{{cita.hora.fecha}}</p>
                            <h2 class="hora-title">Hora:</h2>
                                <p class="hora-info">{{cita.hora.hora_inicio}}</p>
                            <div class="center margin-s btn-red">
                                <a href="{% url 'confirm_cancelar_page' cita.id %}" class="">Cancelar</a>
                            </div>
                        </div>
                        
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
