<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Médico: {{hora.medico.nombre}} {{hora.medico.p_apellido}} {{hora.medico.m_apellido}}</h2>
    <h2>Fecha: {{hora.fecha}}</h2>
    <h2>Hora: {{hora.hora_inicio}}</h2>
    <h3>Informacion Personal</h3>
    <form method="POST">
        {% csrf_token %}

        {{form.as_p}}
        <input type="submit" value="Confirmar">
    </form>
    
    
</body>
</html>