
{%extends 'pages/base.html'%}
{%load static%}
{% block content%}
<main>
<div>
<div class="center-main">
    <div class="border">
        <div class="head">
            <h1>Reservar Hora Médica</h1>
        </div>
        <div>
            <form method="POST" class="form">
                {% csrf_token %}
                {%for doc in doctores%}
                    <div class="border radius">
                        <h1 class="doctor-name">{{doc.doctor.nombre}} {{doc.doctor.p_apellido}} {{doc.doctor.m_apellido}}</h1>
                        <div class="margin-child">
                        {%for key,horas in doc.horas.items%}
                            <b class="fecha-title">{{key}}</b> 
                            <div>
                                {%for hr in horas%}
                                    <label >
                                        <input type="radio" id={{hr.id}} name="hora" value="{{hr.id}}"></input>
                                        <span for="{{hr.fecha}}">{{hr.hora_inicio}}</span>
                                    </label>
                                {%endfor%}
                            </div>
                        {%endfor%}
                        </div>
                    </div>
                {%endfor%}
                <div class="center">
                    <input type="submit" value="Continuar"  class="btn-submit">

                </div>
            </form>
        </div>
    </div>
</div>
</div>
</main>
{% endblock %}

