{%extends 'pages/base.html'%}
{%load static%}
{% block content%}
<main>
<div>

    <div class="center-main">
        <div class="border">
            <div class="head">
                <h1>Inicio Sessión</h1>
            </div>
            <div>
                <form method="POST" class="form"> 
                    {% csrf_token %}
                    <div class="column margin-child-s">
                        <label for="username">Nombre de usuario</label>
                        <input type="text" name="username">
                        <label for="password">Contraseña</label>
                        <input type="password" name="password">
                    </div>
                    <div class="center">
                        <input type="submit" value="Iniciar Sessión" class="btn-submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}