<nav class="navbar">
    <div class="logo">
        <a href="{% url 'home_page' %}" class="nav-title"><h2>Centro Médico Galenos</h2></a>
    </div>
    <div class="menu">
        <ul class="lis-items">
            <a href="{% url 'home_page' %}" class="nav-item"><li>Inicio</li></a>
            <a href="{% url 'toma_hora_page' %}" class="nav-item"><li>Tomar Cita</li></a>
            <a href="{% url 'cancelar_page' %}" class="nav-item"><li>Cancelar Cita</li></a>
            <a href="{% url 'login_page' %}" class="nav-item"><li>Login</li></a>

        </ul>
    </div>
</nav>