{%extends 'pages/base.html'%} {%load static%} {% block content%}
<main>
    <div class="border">
        <div class="head">
            <h1>Secretaria</h1>
        </div>
        <ul>
            <br>
            <h5><a href="{% url 'agregar_hora_page' %}"> Agregar Hora</a></h5>
            <h5><a href="{% url 'quitar_hora_page' %}"> Quitar Hora</a></h5>
            <h5><a href="{% url 'toma_hora_page' %}"> Agregar cita</a></h5>
            <h5><a href="{% url 'cancelar_page' %}"> Quitar cita</a></h5>
            <h5><a href="{% url 'agregar_medico_page' %}"> Agregar Médico</a></h5>
            <h5><a href="{% url 'agregar_disponibilidad_page' %}">Agregar disponibilidad</a></h5>
        </ul>
    </div>
</main>
{% endblock %}