{%extends 'pages/base.html'%} {%load static%} {% block content%}
<main>
    <div class="border">
        <div class="head">
            <h1>Secretaria</h1>
        </div>
        
        <ul>
            <br>
            <h5><a href="{% url 'agregar_hora_page' %}" class="secretaria-menu"> Agregar Hora</a></h5>
            <h5><a href="{% url 'quitar_hora_page' %}" class="secretaria-menu"> Quitar Hora</a></h5>
            <h5><a href="{% url 'toma_hora_page' %}" class="secretaria-menu"> Agregar cita</a></h5>
            <h5><a href="{% url 'modificar_cita_page' %}" class="secretaria-menu">Modificar Cita</a></h5>
            <h5><a href="{% url 'cancelar_page' %}" class="secretaria-menu"> Quitar cita</a></h5>
            <h5><a href="{% url 'agregar_medico_page' %}" class="secretaria-menu"> Agregar Médico</a></h5>
            <h5><a href="{% url 'agregar_disponibilidad_page' %}" class="secretaria-menu">Agregar disponibilidad</a></h5>
        </ul>
    </div>
</main>
{% endblock %}