{%extends 'pages/base.html'%}
{%load static%}
{% block content%}
<main>
<div>
    <h1>Secretaria</h1>
    <ul>
        <li><a href="{% url 'agregar_hora_page' %}">Agregar Hora</a></li>
        <li><a href="{% url 'quitar_hora_page' %}">Quitar Hora</a></li>
        <li><a href="{% url 'toma_hora_page' %}">Agregar cita</a></li>
        <li><a href="{% url 'cancelar_page' %}">Quitar cita</a></li>
        <li><a href="{% url 'agregar_medico_page' %}">Agregar Médico</a></li>
        <li><a href="{% url 'agregar_disponibilidad_page' %}">Agregar disponibilidad</a></li>



    </ul>
</div>
</main>
{% endblock %}