{%extends 'pages/base.html'%}
{%load static%}
{% block content%}
<main>
    <div class="center-main">
        <div class="border">
            <div class="head">
                <h1>Reservar Hora Médica</h1>
            </div>
            <div>
                <form method="POST" class="form">
                    {% csrf_token %}
                    <div>
                        <select name="especialidad" id="especialidad" class="select">
                            <option value="FM" class="option">FAMILIAR</option>
                            <option value="PD">PEDIATRIA</option>
                            <option value="IN">INTERNA</option>
                            <option value="SQ">PSIQUIATRIA</option>
                            <option value="OP">ORTOPEDIA</option>
                            <option value="OF">OFTALMOLOGIA</option>
                            <option value="GN">GENERAL</option>
                            <option value="DT">DERMATOLOGIA</option>
                            <option value="CD">CARDIOLOGIA</option>
                        </select>
                    </div>
                    <div class="center">
                        <input type="submit" value="Aceptar" class="btn-submit">

                    </div>
                </form>
            </div>
        </div>
        <a href="{% url 'cancelar_page'%}">Cancelar Hora</a>

    </div>
</main>
{% endblock %}