asgiref==3.3.4
astroid==2.5.6
colorama==0.4.4
cx-Oracle==8.2.1
Django==3.2.4
djangorestframework==3.12.4
isort==5.9.1
jedi==0.18.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
numpy==1.20.3
parso==0.8.2
Pillow==8.2.0
pygame==2.0.1
pylint==2.8.3
pytz==2021.1
sqlparse==0.4.1
toml==0.10.2
wrapt==1.12.1
