{%extends 'pages/base.html'%}
{%load static%}
{% block content%}
<main>
<div>
    <h1>Quitar Hora</h1>
    <form method="POST">
        {% csrf_token %}

        {%for doc in doctores%}
            <p>{{doc.doctor}}</p>
            {%for key,horas in doc.horas.items%}
            <b>{{key}}</b> 
                <div>
                    {%for hr in horas%}
                        <input type="radio" id={{hr.id}} name="hora" value="{{hr.id}}"></input>
                        <label for="{{hr.fecha}}">{{hr.hora_inicio}}</label>
                    {%endfor%}
                </div>
            {%endfor%}
        {%endfor%}
        <input type="submit" value="Continuar">
    </form>
</div>
</main>
{% endblock %}