{%extends 'pages/base.html'%} {%load static%} {% block content%}
<main>
    <div class="border">
        <div class="head">
            <h1>Quitar Hora</h1>
        </div>
        <form method="POST">
            {% csrf_token %} {%for doc in doctores%}
            <div class="nomdoc">
                <h3>{{doc.doctor}}</h3>
            </div>
            {%for key,horas in doc.horas.items%}
            <div class="fecha">
                <b>{{key}}</b>
            </div>
            <div class="horario">
                {%for hr in horas%}
                <input type="radio" id={{hr.id}} name="hora" value="{{hr.id}}"></input>
                <label for="{{hr.fecha}}">{{hr.hora_inicio}}</label> {%endfor%}
            </div>
            {%endfor%} {%endfor%}
            <div class="enviar">
                <input type="submit" value="Continuar">
            </div>
        </form>
    </div>
</main>
{% endblock %}